<div class="book-slider">
  <div class="slider-container">
    <!-- Display the books -->
    <div *ngFor="let book of visibleBooks; let i = index" class="slider-item">
      <div class="left_side">
        <div class="lines_for_slider_pagination">
          <div *ngFor="let line of [1, 2, 3, 4]; let j = index" [ngClass]="getLineClass(j)"></div>
        </div>
        <div class="book-details">
          <h3 class="book-title">{{ book.title }}</h3>
          <p class="book-author">by {{ book.author }}</p>
          <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem est possimus sequi obcaecati sit labore dicta architecto necessitatibus consequuntur nesciunt dolor ratione dolorem corrupti voluptas corporis, nihil, culpa impedit eligendi?</p>
          <button class="add-to-cart-btn" (click)="addToCart(book)">
            <img src="/assets/images/Cart.svg" alt="">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="img_with_discount">
        <img [src]="book.imageUrl" alt="{{ book.title }} cover" class="book-image" />
        <p class="book-discount">AUTOGRAPHED BOOKS + 30% DISCOUNT</p>
      </div>
    </div>
  </div>

  <!-- Navigation buttons -->
  <div class="navigation_button">
    <button class="prev-btn" [disabled]="isAtStart()" (click)="prev()">
      <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.99341 15.0364L0.983686 8.02669L7.99341 1.01697" stroke="#937DC2" stroke-width="1.00139" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    </button>
    <button class="next-btn" [disabled]="isAtEnd()" (click)="next()">
      <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.06128 1.02133L8.071 8.03105L1.06128 15.0408" stroke="#937DC2" stroke-width="1.00139" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    </button>
  </div>
</div>
