.book_details_center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-details {
    padding: 20px;
    width: 100%;
    max-width: 1440px;
}

.breadcrumbs {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.book-main-section {
    display: flex;
    gap: 20px;
}

.book-images {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.book-images .main-image {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail-images .thumbnail {
    cursor: pointer;
    width: 60px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.book-info {
    flex: 2;
    padding: 0 20px;
}

.book-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.book-info .author {
    color: #555;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.price {
    color: #b12704;
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #937dc2;
    padding-bottom: 30px;
}

.add-to-cart-btn {
    background-color: #937dc2;
    max-width: 200px;
    margin-top: 20px;
    color: #fff;
    padding: 15px 20px;
    border-radius: 2px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    transition: all 0.3s;
    background-color: #5534a5;
}

.plus,
.minus {
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #937DC2;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid #937DC2;
}

.plus:hover,
.minus:hover {
    background-color: #937DC2;
    color: #fff;
}

.details {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.details p {
    color: #555;
    margin: 5px 0;
}

.details p span {
    color: #937DC2;
    font-weight: 700;
}

.collection {
    margin-top: 40px;
}

.collection h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.similar-books {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.similar-books::-webkit-scrollbar { 
    display: none; /* For Chrome, Safari, Edge */
  }

.similar-book-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    flex-shrink: 0;
    cursor: pointer;
}

.similar-book-card img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

.similar-book-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.similar-book-card p {
    color: #b12704;
    margin-bottom: 10px;
}

.similar-book-card .add-to-cart-btn {
    max-width: 250px;
}

.similar-book-card button:hover {
    transition: all 0.3s;
    background-color: #5534a5;
}

@media screen and (max-width: 768px) {
    .book-details {
        padding: 10px;
    }

    .book-main-section {
        flex-direction: column-reverse;
    }

    .book-images {
        order: 2;
    }

    .book-info {
        order: 1;
        padding: 10px;
    }

    .thumbnail-images {
        overflow-x: auto;
    }

    .thumbnail-images .thumbnail {
        width: 50px;
        height: 70px;
    }
    
}