<div class="center_container">
  <div class="home-container">
    <!-- Author of the Week Section -->
    <app-book-slider [books]="books"></app-book-slider>
    
  
    <!-- Features Section -->
    <section class="features">
      <div class="feature-item">Free shipping over $50</div>
      <div class="feature-item">Save with loyalty points</div>
      <div class="feature-item">Read a few pages</div>
    </section>
  
    <!-- Book Listings -->
    <section class="books-section">
      <h2>Selected for You</h2>
      <div class="books-list">
        <div *ngFor="let book of books" class="book-card" (click)="viewDetails(+book.id)"> 
            <img [src]="book.imageUrl" alt="book cover" class="book-image" />
          <div class="book-info">
            <h3>{{ book.title }}</h3>
            <p>by {{ book.author }}</p>
            <p>${{ book.price }}</p>
          </div>
          <button class="add-to-cart-btn">
            <img src="/assets/images/Cart.svg" alt="">
            Add to Cart
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
  